// BOOTSTRAP OVERRIDES

// Global Variables

$white: #ffffff;
$grey: #e2e2e2;
$black: #000000;

body {
  background: $white;
  #info {
    margin: .5em 0em;
    font-weight: bold;
  }
}

section.notifications {
  #modal-win {
    display: none;
  }
  #modal-lose {
    display: none;
  }
}

footer {
  // background-color: $black;
  color: $grey;
  a {
    text-decoration: none;
    color: $grey;
    &:hover {
      text-decoration: underline;
      color: $black;
    }
  }
}